<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    her
    <meta charset="UTF-8">
    
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    
    <ul class='nav'>
        <li class='nav-link'>
            <a href="{{url_for('core.index')}}">Home</a>
        </li>
        <li class='nav-link'>
                <a href="{{url_for('core.info')}}">About</a>
        </li>

        {% if current_user.is_authenticated %}
        <li class='nav-link'>
                <a href="{{url_for('users.logout')}}">Log Out</a>
        </li>
        <li class='nav-link'>
                <a href="{{url_for('users.account')}}">Account</a>
        </li>
        <li class='nav-link'>
            <a href="{{url_for('people.people_menu')}}">People Menu</a>
        </li>
        <li class='nav-link'>
            <a href="{{url_for('questionaire.show_all_questionaire_types')}}">Questionaire Menu</a>
        </li>
        <li class='nav-link'>
            <a href="{{url_for('curriculum.curriculum_menu')}}">Curriculum Menu</a>
        </li>
        <li class='nav-link'>
            <a href="{{url_for('classes.classes_menu')}}">Classes Menu</a>
        </li>
        {% else %}
        <li class='nav-link'>
                <a href="{{url_for('users.login')}}">Log In</a>
        </li>
        {% endif %}
        <li class='nav-link'>
                <a href="{{url_for('users.registerUser')}}">Register</a>
        </li>
        
    </ul>

    <div class="container">
        {%  block content %}

        {%  endblock %}
    </div>
</body>
</html>