{% from "/macros/_macros.html" import render_field_with_errors, render_field %}
{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <div class="container">
        <h1>Add Child for {{parent.first_name}} {{parent.last_name}}</h1>
         
        <form method="POST">
              {{form.hidden_tag()}}
              
              {{ render_field_with_errors(form.first_name, class="form-control") }}
              {{ render_field_with_errors(form.last_name, class="form-control") }}
              {{ render_field_with_errors(form.date_of_birth, class="form-control") }}
              {{ render_field(form.notes, class="form-control") }}       
              <input type="submit" value="submit">
        </form> 
        
    </div>
  </div>
  
{% endblock %}  