{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <div class="container">
        <h1>Customer Details for {{customer.first_name}} {{customer.last_name}} </h1>
            <h2>Contact Details</h2>
            <ul>
              <li><strong>Phone: </strong> {{customer.phone}}</li>
              <li><strong>Email: </strong> {{customer.email}}</li>
              <li><strong>Address: </strong> {{customer.street_address}}, {{customer.suburb}}, {{customer.state}} {{customer.postcode}}</li>
              <li><strong>Alternative Contact: </strong> {{customer.alternative_contact}}</li>
              <li><strong>Alternative Contact Phone: </strong> {{customer.alternative_contact_phone}}</li>
              <li><strong>Notes: </strong> {{customer.notes}}</li>
            </ul>

            {% if children.count() > 0 %}
              <h3>Children Details</h3>
              <ul>
                {% for child in children %}
                <li><a href="{{url_for('people.child_details',child_id=child.id)}}">{{ child.first_name }} {{child.last_name}}</a></li>
                {% endfor %}
              </ul>
              
            {% endif %}
            
            <br>
            <br>
            <a class="btn btn-primary btn-block" href="{{url_for('people.update_customer',id=customer.id)}}" role="button">Update Customer Details</a>
            <a class="btn btn-primary btn-block" href="{{url_for('people.add_child',parent_id=customer.id)}}" role="button">Add Child</a>
    </div>
  </div>
  
{% endblock %}  